.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

.recipeBlock{
    text-align: center;
    width: 450px;
    margin-bottom: 50px;
}

h1{
    color: yellow;
}

ol{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

p{
    color: white;
}

.image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}