.App{
  min-height: 100vh;
  background-color: rgb(10, 10, 10);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border-radius: 15px 0 0 15px;
  border: none;
  padding: 10px;
}

.search-button{
  padding: 10px 20px;
  color: white;
  border-radius: 0 15px 15px 0;
  border: none;
  color: black;
  font-weight: 600;
  background-color: yellow;
}

.recipes {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}